In [1]:
import numpy as np

In [2]:
import pandas as pd

In [84]:
df = pd.read_csv('Churn_Modelling.csv')

In [85]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [56]:
from sklearn.preprocessing import OneHotEncoder , LabelEncoder
lx1=LabelEncoder()
df['Geography']=lx1.fit_transform(df['Geography'])
df['Gender']=lx1.fit_transform(df['Gender'])

In [59]:
df = df.iloc[:,3:]

In [62]:
df.iloc[:,2].nunique()

2

In [83]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(x))

In [181]:
x = df.iloc[:,:10].values
y = df.iloc[:,10].values

In [76]:
df.iloc[:,:10]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [89]:
a = pd.get_dummies(df['Geography'],drop_first = True)

In [94]:
b = pd.get_dummies(df['Gender'],drop_first = True)

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [97]:
df = pd.concat((df ,a,b),axis=1)

In [102]:
df.drop('Gender',axis=1,inplace =True)

In [104]:
df.drop('Geography',axis=1,inplace =True)

In [107]:
df = df.iloc[:,3:]

In [108]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [109]:
df.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Germany', 'Spain',
       'Male'],
      dtype='object')

In [182]:
x = df[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Germany', 'Spain',
       'Male']]
y = df['Exited']

In [210]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0,test_size = 0.2)

In [122]:
import tensorflow as tf

In [125]:
from tensorflow.keras.layers import Dense

In [212]:
ann = tf.keras.models.Sequential()
# ann.add(tf.keras.layers.Flatten())
ann.add(Dense(64,activation='relu',input_shape=(11,)))
ann.add(Dense(64,activation='relu'))
ann.add(Dense(1,activation='sigmoid'))

In [213]:
ann.compile(optimizer = 'adam',
           loss ='binary_crossentropy',
           metrics = ['accuracy'])

In [214]:
ann.fit(x_train,y_train,batch_size=10,epochs=10)

Train on 8000 samples
Epoch 1/10
8000/8000 [==============================] - 12s 2ms/sample - loss: 0.4191 - accuracy: 0.8224
Epoch 2/10
8000/8000 [==============================] - 10s 1ms/sample - loss: 0.3559 - accuracy: 0.8526
Epoch 3/10
8000/8000 [==============================] - 11s 1ms/sample - loss: 0.3443 - accuracy: 0.8581
Epoch 4/10
8000/8000 [==============================] - 11s 1ms/sample - loss: 0.3396 - accuracy: 0.8605
Epoch 5/10
8000/8000 [==============================] - 10s 1ms/sample - loss: 0.3348 - accuracy: 0.8599
Epoch 6/10
8000/8000 [==============================] - 6s 716us/sample - loss: 0.3324 - accuracy: 0.8641
Epoch 7/10
8000/8000 [==============================] - 4s 505us/sample - loss: 0.3293 - accuracy: 0.8660
Epoch 8/10
8000/8000 [==============================] - 9s 1ms/sample - loss: 0.3256 - accuracy: 0.86600s - loss: 0.3251 - accuracy:
Epoch 9/10
8000/8000 [==============================] - 7s 908us/sample - loss: 0.3238 - accuracy: 0.8671
Epoch 10/10
8000/8000 [==============================] - 7s 866us/sample - loss: 0.3227 - accuracy: 0.8664

In [164]:
from sklearn.preprocessing import StandardScaler

In [186]:
sc = StandardScaler()
x = sc.fit_transform(x)

In [140]:
x

array([[-0.32622142,  0.29351742, -1.04175968, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [-0.44003595,  0.19816383, -1.38753759, ..., -0.57873591,
         1.74273971, -1.09598752],
       [-1.53679418,  0.29351742,  1.03290776, ..., -0.57873591,
        -0.57380915, -1.09598752],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  1.72790383,
        -0.57380915,  0.91241915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -0.57873591,
        -0.57380915, -1.09598752]])

In [215]:
pred = ann.predict(x_test)

In [216]:
pred = (pred>0.5)

In [199]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

       False       0.96      0.88      0.92      1735
        True       0.49      0.75      0.59       265

    accuracy                           0.86      2000
   macro avg       0.72      0.81      0.75      2000
weighted avg       0.90      0.86      0.87      2000

In [217]:
print(confusion_matrix(pred,y_test))

[[1505  186]
 [  90  219]]

In [151]:
(1525+148)/2000

0.8365

In [180]:
(1525+199)/2000

0.862

In [193]:
(1511+208)/2000

0.8595

In [201]:
(1528+198)/2000

0.863

In [208]:
(1489+222)/2000

0.8555

In [209]:
x = np.array(x)

In [218]:
(1505+219)/2000

0.862